@media screen and (max-width: 35.5em){
  .header {
    .filters{
      .label,.input{
        margin-bottom: (10em/16);
      }
      .advanced {
        .icon::before{
          left: inherit;
          right: 30%;
        }
      }
    }
  }

  .slick-prev{
    left: -10%;
  }
  .slick-next{
    right: -10%;
  }

  .explore {
    .sort{
      >li{
        margin-left:(5em/16);

        &:nth-child(2){
          margin-left: 0;
        }
        &:first-child{
          display: none;
          visibility: hidden;
        }
        .btn{
          padding:0  (12em/16) ;
        }
      }
      .sort-style{
        display: none;
        visibility: hidden;
      }
    }
  }

  .news-form{
    input{
      margin-bottom: (10em/16);
    }
  }

  .links{
    div{
      margin-top: (15em/16);
    }
  }

  #home-carousel .image-gallery-description{
    padding: 5%;
    font-size: (10em/16);
  }

}


@media screen and (max-width: 48em){
  .menu{
    display: none;
  }
  .explore {
    .sort{
      float: left;
      margin: (15em/16) 0;
    }
  }

  .newsletter{
    .news-form {
      button{
        padding: 0;

      }
    }
  }

  .explore .explore-grid .item{
    &[class*="_sm-12"]{
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}






