
@font-face {
  font-family: 'HelveticaNeueLTStd-Roman';
  src: url('../fonts/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTStd-Roman.woff') format('woff'),
  url('../fonts/HelveticaNeueLTStd-Roman.ttf')  format('truetype'),
  url('../fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
  url('../fonts/HelveticaNeue-Bold.ttf')  format('truetype'),
  url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-Regular.otf')  format('opentype'),
  url('../fonts/MyriadPro-Regular.woff') format('woff'),
  url('../fonts/MyriadPro-Regular.ttf')  format('truetype'),
  url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans.woff') format('woff'),
  url('../fonts/OpenSans.ttf')  format('truetype'),
  url('../fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Raleway-Medium.woff') format('woff'),
  url('../fonts/Raleway-Medium.ttf')  format('truetype'),
  url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  background: #ffffff;
}

body{
  overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 1em;
  font-family: HelveticaNeueLTStd-Roman;
}
.text-center{
  text-align: center;
}
.wrapper {
  width: 100%;
  max-width: 80em;
  margin: 0 auto;
}
.header{
  .navigation{
    padding: (24em/16) 0;
  }
  .menu{
    font-family: HelveticaNeueLTStd-Roman;
    font-size: (15em/16);
    li{
      text-transform: uppercase;
      float: left;
      margin-right:(22em/16);
      &:last-child{
        margin-right: 0;
      }
      a{
        color: #000000;
        text-decoration: none;
        &:hover,
        &.active{
          text-decoration: underline;
        }
      }
    }
  }

  .filters {

    padding: (14em/16) 0;
    background: #5AC0D7;
    color: #ffffff;

    .label{
      text-transform: uppercase;
      text-shadow: 1px 1px 1px #999;
      font-family: HelveticaNeue-Bold;
      font-size: (20em/16);

      .filter{
        li{
          float: left;
          margin-right: (5em/16);
          .btn {
            font-family: HelveticaNeue-Bold;
            font-size: (10em/16);
            line-height: (20em/10);
            border: solid 1px #73B1BF;
            width: 100%;
            box-sizing: border-box;
            padding: 0 (10em/10);
            color: #287C8F;
            border-radius: (3em/10);
            background: #ffffff;

            &.active{
              background: #59BFD7;
              color: #ffffff;
              border-color:#357F90;
            }
          }
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
    .input{
      input{
        line-height: (36em/16);
        height: (40em/16);
        border: solid 1px #A5A5A5;
        width: 80%;
        box-sizing: border-box;
        float: left;
        border-right: none;
      }
      button{
        background: transparent;
        border: none;
        float: left;
        padding: 0;
      }
    }


    .advanced{
      font-size: (16em/16);
      position: relative;
      .icon{
        &:before{
          font-size: (22em/16);
          color: #ffffff;
          position: absolute;
          left: -(30em/22);
          top:50%;
          transform: translate(0,-50%);
        }
      }
    }
  }
}

#home-carousel{
  position: relative;
  .image-gallery-description{
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(circle, transparent,black);
    text-align: center;
    font-size:(22em/16);
    box-sizing: border-box;
    padding: 15% 17%;
    line-height: (28em/22);
  }

}

.item{
  box-sizing: border-box;
  position: relative;
  .item-title{
    color: #000;
    font-family: 'MyriadPro-Regular';
    font-size: (24em/16);
  }
  .icon-flag{
    position:absolute;
    right: 0;
    bottom: 0;
    font-size: (12em/16);
    background: #5AC0D7;
    padding: (5em/12) (3em/12);
  }

  .item-autor{
    position: relative;
    padding-left:(40em/16) ;
    box-sizing: border-box;
    .icon{
      &:before{
        font-size: (26em/16);
        color: #479DB1;
        position: absolute;
        left: 0;
        top:50%;
        transform: translate(0,-50%);
      }
    }
  }

  .item-section{
    position: relative;
    padding-left:(40em/16) ;
    box-sizing: border-box;

    .icon{
      &:before{
        font-size: (26em/16);
        color: #479DB1;
        position: absolute;
        left: 0;
        top:50%;
        transform: translate(0,-50%);
      }
    }
  }

  p{
    color: #333333;
    font-size: (14em/16);
  }
}

.spotlight{
  padding:(30em/16) 0 (40em/16) !important;
  .title{
    text-transform: uppercase;
    font-family: HelveticaNeue-Bold;
    font-size: (20em/16);
    color: #479EB2;
  }

  .slider{
    margin-top: (15em/16);
    .item{

      .item-border{
        margin: 0 3.5%;
        background: #EEEEEE;
        padding: (20em/16) (20em/16);
        border: solid 1px #D8DEE0;
        position: relative;
      }
    }
  }
}

.explore,
.result{
  padding:(45em/16) 0 !important;
  background: #E9E9E9;
  
 .sort-grid {
    .btn-sort-grid{
      background:url(../images/sort-icon-column-hover.png) !important;
    }
    .btn-sort-col{
      background:url(../images/sort-icon-grid.png) !important;
    }
  }
  
  .sort-col {
    .btn-sort-grid{
      background:url(../images/sort-icon-column.png) !important;
    }
    .btn-sort-col{
      background:url(../images/sort-icon-grid-hover.png) !important;
    }
  }
  
  .title{
    color: #1A95B0;
  }

  .explore-grid{
    margin-top: (15em/16);

    .item{
      margin-bottom: (30em/16);
      background: #ffffff;
      padding: (20em/16) (20em/16);
      border: solid 1px #D8DEE0;
      transition: all .3s;
      .item-autor{
        .icon{
          &:before{
            color: #CBCBCB;
          }
        }
      }

      .item-section{
        .icon{
          &:before{
            color: #CBCBCB;
          }
        }
      }

      &[class*="col-6"]{
        flex-basis: 48.5%;
        max-width: 48.5%;
      }
    }
  }
  .title{
    text-transform: uppercase;
    font-family: HelveticaNeue-Bold;
    font-size: (20em/16);
  }

  .sort{
    float: right;
    >li {
      float: left;
      margin-left: (15em/16);

      &:first-child{
        margin-left: 0;
        line-height: (30em/16);
        color: #ffffff !important
      }

      .btn-img{
        background: none;
        border: none;
        width:30px;
        height:30px;
        display:block;
      }
      .sort-style{
        li{
          float: left;
          margin-left:12px;
          text-align:center;
          display:block;
          height:30px;
        }
      }
    }
  }
}

.newsletter{
  background: #5AC0D7;
  padding:(45em/16) 0 !important;

  .title{
    text-transform: uppercase;
    font-family: HelveticaNeue-Bold;
    font-size: (20em/16);
    color: #ffffff;
    margin-bottom: (15em/20);
  }
  .news-form{
    input{
      font-size: (14em/16);
      line-height: (40em/14);
      border: solid 1px #73B1BF;
      width: 100%;
      box-sizing: border-box;
      padding: 0 (15em/14);
      color: #000000;
    }
    button{
      line-height: (40em/16);
      border: solid 1px #73B1BF;
      width: 100%;
      box-sizing: border-box;
      padding: 0 (15em/16);
      background: #FAFAFA;
      color: #479EB2;
    }
  }

  .col-5{
    flex-basis: 38.667%;
    max-width: 38.667%
  }
}

#footer{
  background: #ffffff;
  padding: (30em/16) 0 !important;
  .links{
    a{
      color: #666666;
      text-decoration: none;
      display: block;
      text-transform: uppercase;
      font-size: (12em/16);
      line-height: (18em/12);
    }
  }
}

.pagination{
  display: table;
  margin: 0 auto;
  li{
    float: left;
    border-radius:(3em/16) ;
    border: 1px solid #338193;
    background: #fff;
    margin-left: (5em/16);
    box-sizing: border-box;

    a{
      font-size: (12em/16);
      color: #000000;
      display: block;
      line-height: (20em/12);
      padding: 0px 6px;
      cursor: pointer;
    }

    &.previous,
    &.next{
      a{
        font-size: (20em/16);
        color: #717171;
        line-height: (20em/20);
      }
    }

    &.active{
      background: #439aae;
      box-shadow: inset 0 0 3px #317281;
      a{
        color: #fff;
      }
    }
  }
}


.explorar{
  .explore{
    background: #E9E9E9;
    .title{
      color: #1A95B0;
    }
  }
}

.detail{
  padding: (30em/16) 0;
  .title{
    color: #5AC0D7;
    font-size: (28em/16);
    font-family: HelveticaNeue-Bold;
    text-transform: uppercase;
  }
  p{
    color: #666666;
    font-size: (14em/16);
    margin: (25em/14) 0;

    &.indizado{
      font-family: HelveticaNeue-Bold;
      font-size: (14em/14);
      b{
        color: #5AC0D7;
      }
    }
  }
  .more{
    a{
      color: #5AC0D7;
    }
  }
}

.resultado{
  .more-filters{
    background: #AAE8F6;
    padding: (30em/16) 0;
    .input{
      margin-bottom: (20em/16);

      &:last-child{
        margin-bottom: 0;
      }

      select{
        border-radius: 0;
        border: solid 1px #A5A5A5;
        height: (40em/16);
        color: #4BB1C8;
        background: #F9F9F9;
        width: 100%;
      }

      input{
        line-height: (36em/16);
        height: (40em/16);
        border: solid 1px #A5A5A5;
        width: 100%;
        box-sizing: border-box;
        box-sizing: border-box;
        padding:0 (5em/16);
      }
    }
  }
}

#burger{
  position: absolute;
  right: (10em/16);
  top:(10em/16);
  display: none;
  .icon{
     width: (42em/16);
    height: (42em/16);
  }
}

#check{
  display: none;
}

#check:checked ~ .menu{
  right: 0;
}

