!!! 5
%head
  %link{rel: 'stylesheet',href:'css/style.css' }
%body
  %header#header.clearfix

  %section#body.wrapper
    %a{href: 'hola mundo', title: 'cambio el title'}
      Hola Lean
    .lang
      %a.spa
      %a.eng

</html>