!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'UTF-8'}
    %meta{name: 'viewport', content:'width=device-width'}
    %link{rel: 'stylesheet',href:'css/gridlex.css' }
    %link{rel: 'stylesheet',href:'css/normalize.css' }
    %link{rel: 'stylesheet',href:'css/image-gallery.css' }
    %link{rel: 'stylesheet',href:'css/slick-theme.css' }
    %link{rel: 'stylesheet',href:'css/slick.css' }
    %link{rel: 'stylesheet',href:'css/icon.css' }
    %link{rel: 'stylesheet',href:'css/style.css' }
    %link{rel: 'stylesheet',href:'css/mediaqueries.css' }
  %body.resultado{'data-page':'result'}
    %div#site.wrapper
      %header.header.grid-center.clearfix
        %div.col-10_md-11.grid.navigation
          %div.col-2_xs-12{'push-right':'off-2'}
            %img{src: 'images/logo-caicyt.png'}
          %div.col-8.grid-middle
            %div.col-12
              %div#burger
              %ul.menu
                %li
                  %a{href:'index.html'} Inicio
                %li
                  %a{href:'explorar.html'} Explorar según
                %li
                  %a{href:'#'} Herramientas y documentos
                %li
                  %a{href:'#'} Acerca de
        %div.col-12.grid-middle.grid-center.filters
          %div.col-10_md-11.grid-middle
            %div.col-4_xs-12.label
              %ul.filter
                %li
                  %button.btn
                    Materias
                %li
                  %button.btn
                    Licencias
                %li
                  %button.btn
                    Certificaciones
            %div.col-6_xs-12.input
              %input{type:'text'}
              %button
                %img{src: 'images/lupa.png'}
            %div.col-2_xs-12.advanced
              %i.icon.icon-zoom-in
              Búsqueda avanzadas
      %div#body.grid
        %div.col-12.grid-center.more-filters
          %div.col-7.grid.input
            %div.col-3{'push-right':'off-1'}
              %select
                %option Disciplina
            %div.col-8
              %input{type:'text', placeHolder: 'Palabra clave, titulo, autor, editor'}
          %div.col-7.grid.input
            %div.col-3{'push-right':'off-1'}
              %select
                %option Disciplina
            %div.col-8.grid
              %div.col-3
                %select
                  %option Disciplina
              %div.col-9
                %input{type:'text', placeHolder: 'Palabra clave, titulo, autor, editor'}
          %div.col-7.grid.input
            %div.col-3{'push-right':'off-1'}
              %select
                %option Disciplina
            %div.col-8.grid
              %div.col-3
                %select
                  %option Disciplina
              %div.col-9
                %input{type:'text', placeHolder: 'Palabra clave, titulo, autor, editor'}
        %div#result.result.col-12.grid-center

        %div.col-12.grid-center.newsletter
          %div.col-10_md-11
            %h1.title
              suscribite a nuestro boletín
          %form.col-10_md-11.grid-spaceBetween.news-form
            %div.col-4_xs-12
              %input{type:'text', placeHolder: 'Nombre completo'}
            %div.col-5_xs-12
              %input{type:'text', placeHolder: 'Correo electrónico'}
            %div.col-2_xs-12
              %button
                Registrarme
      %footer#footer.grid-center
        %div.col-10_md-11.grid-center
          %div.col-2_xs-7
            %img{src: 'images/logo-caicyt-white.png'}
          %div.col-10.grid.links
            - for (var i = 0; i < 4; ++i)
              %div.col-3_xs-12
                %a{href:'#'}
                  Inicio
                %a{href:'#'}
                  Explorar Documentos
                %a{href:'#'}
                  Búsqueda avanzada
                %a{href:'#'}
                  Acerca del catálogo
        %script{src:'build/init.js'}